# Ignore IDEs
.vscode/
.idea/

# Ignore bower (if any) 
bower_components/

# Ignore source
/src/
typings/

# Ignore tests
/test/
test-output/

# Ignore build instructions
.babelrc
.gitlab-ci.yml
gulpfile.js
gulpfile.ts
package-lock.json
tsconfig.json
tslint.json
*.lock
*.log