# Ignore IDEs
.vscode/
.idea/

# Ignore bower (if any) 
bower_components/

# Ignore source
/src/
typings/

# Ignore tests
/test/
test-output/

# Ignore build instructions
.babelrc
.gitlab-ci.yml
tsconfig.json
tslint.json
typings.json
gulpfile.babel.js
*.lock
*.log